<div class="login-header">
  <div class="login-header-image">
    <img src="../../../assets/images/musiva.png">
  </div>
</div>
<div class="login-body">
  <div class="login-content">
    <div class="login-title">
      <span>{{multilingualContent.title.header}}</span>
    </div>
    <div class="login-sign-in">
      <form>
        <div class="login-form-user">
          <span class="login-form-user-title">{{multilingualContent.title.login}}</span>
          <input type="text" [placeholder]="multilingualContent.title.login" class="login-input">
        </div>
        <div class="login-form-password">
          <span class="login-form-password-title">{{multilingualContent.title.password}}</span>
          <input type="text" [placeholder]="multilingualContent.title.password" class="password-input">
        </div>
        <div class="login-form-password-not-remember">
          <a href="">{{multilingualContent.text.passwordReset}}</a>
        </div>
        <div class="login-form-submit">
          <div class="login-form-submit-remember-me">
            <check-box [label]="multilingualContent.text.rememberMe" (checked)="onRememberMe($event)"></check-box>
          </div>
          <div class="login-form-submit-button">
            <input type="submit" [value]="multilingualContent.text.signIn">
          </div>
        </div>
      </form>
    </div>
    <div class="login-sign-up">
      <div class="login-sign-up-title">
        <span>{{multilingualContent.title.register}}</span>
      </div>
      <div class="login-sign-up-button">
        <a href="">{{multilingualContent.text.register}}</a>
      </div>
    </div>
  </div>
</div>
