<header class="home-header">
  <div class="home-header-image">
    <img src="../../../../assets/images/musiva-bright.png">
  </div>
  <div class="home-header-list">
    <div class="home-header-content">
      <ul class="home-header-content-list">
        <li> <a href="">{{header.list.premium}}</a> </li>
        <li> <a href="">{{header.list.support}}</a> </li>
        <li> <a href="">{{header.list.download}}</a> </li>
      </ul>
    </div>
    <div class="home-header-account">
      <ul class="home-header-account-list">
        <li> <a href="">{{header.list.register}}</a> </li>
        <li> <a href="">{{header.list.signIn}}</a> </li>
      </ul>
    </div>
    <div class="hamburger-menu">
      <hamburger-menu [translation]="header"></hamburger-menu>
    </div>
  </div>
</header>
