<footer class="home-footer">
  <div class="home-footer-wrapper">
    <div class="home-footer-main">
      <div class="home-footer-main-logo">
        <img src="assets/images/musiva-bright.png">
      </div>
      <div class="home-footer-main-links">
        <div class="home-footer-main-links-company">
          <ul>
            <li>{{footer.title.company}}</li>
            <li>{{footer.list.company.about}}</li>
            <li>{{footer.list.company.jobs}}</li>
            <li>{{footer.list.company.record}}</li>
          </ul>
        </div>
        <div class="home-footer-main-links-community">
          <ul>
            <li>{{footer.title.community}}</li>
            <li>{{footer.list.community.artist}}</li>
            <li>{{footer.list.community.developers}}</li>
            <li>{{footer.list.community.advertising}}</li>
            <li>{{footer.list.community.investors}}</li>
            <li>{{footer.list.community.vendors}}</li>
          </ul>
        </div>
        <div>
          <ul>
            <li>{{footer.title.links}}</li>
            <li>{{footer.list.links.support}}</li>
            <li>{{footer.list.links.player}}</li>
            <li>{{footer.list.links.app}}</li>
          </ul>
        </div>
      </div>
      <div class="home-footer-main-social">
        <ul>
          <li>
            <a class="home-footer-main-social-icon">
              <span class="social-insta"></span>
            </a>
          </li>
          <li>
            <a class="home-footer-main-social-icon">
              <span class="social-facebook"></span>
            </a>
          </li>
          <li>
            <a class="home-footer-main-social-icon">
              <span class="social-twitter"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="home-footer-bottom">
      <div class="home-footer-bottom-links">
        <ul>
          <li>{{footer.links.legal}}</li>
          <li>{{footer.links.center}}</li>
          <li>{{footer.links.policy}}</li>
          <li>{{footer.links.cookies}}</li>
          <li>{{footer.links.ads}}</li>
        </ul>
      </div>
      <div>

      </div>
    </div>
  </div>
</footer>
