<div class="register-header">
  <div class="register-header-image">
    <img src="assets/musiva.png">
  </div>
</div>
<div class="register-body">
  <div class="register-content">
    <div class="register-oauth">
      <div class="register-oauth-title">
        <span>{{signUpOAuthTitle}}</span>
      </div>
      <div class="register-oauth-google">
        <a href="">{{signUpOAuthGoogle}}</a>
      </div>
    </div>
    <div class="register-sign-up">
      <div class="register-sign-up-title">
        <span>{{signUpTitle}}</span>
      </div>
      <div class="register-sign-up-mail">
        <label for="sign-up-mail" class="register-form-label">{{signUpMail}}</label>
        <input type="email" [placeholder]="signUpMail" id="sign-up-mail" class="register-form-input">
      </div>
      <div class="register-sign-up-mail-confirm">
        <label for="sing-up-mail-confirm" class="register-form-label">{{signUpMailConfirm}}</label>
        <input type="email" [placeholder]="signUpMailConfirm" id="sing-up-mail-confirm" class="register-form-input">
      </div>
      <div class="register-sign-up-password">
        <label for="sing-up-password" class="register-form-label">{{signUpPassword}}</label>
        <input type="password" [placeholder]="signUpPassword" id="sing-up-password" class="register-form-input">
      </div>
      <div class="register-sign-up-login">
        <label for="sign-up-login" class="register-form-label">{{signUpLogin}}</label>
        <input type="text" [placeholder]="signUpLogin" id="sign-up-login" class="register-form-input">
      </div>
      <div class="register-sign-up-birth-date">
        <span class="register-form-label">{{signUpBirthDate}}</span>
        <div class="sign-up-birth-date">
          <div class="sign-up-birth-date-day">
            <label for="sign-up-birth-date-day">{{signUpBirthDateDay}}</label>
            <input type="text" id="sign-up-birth-date-day" class="register-form-input">
          </div>
          <div class="sign-up-birth-date-month">
            <label for="sign-up-birth-date-month">{{signUpBirthDateMonth}}</label>
            <input type="text" id="sign-up-birth-date-month" class="register-form-input">
          </div>
          <div class="sign-up-birth-date-year">
            <label for="sign-up-birth-date-year">{{signUpBirthDateYear}}</label>
            <input type="text" id="sign-up-birth-date-year" class="register-form-input">
          </div>
        </div>
      </div>
      <div class="register-sign-up-gender">
        <span class="register-form-label">{{signUpGender}}</span>
        <div class="sign-up-gender">
          <div class="sign-up-gender-male">
            <input type="radio" id="sign-up-gender-male">
            <label for="sign-up-gender-male" class="sign-up-gender-male-label">
              <span class="sign-up-radio-button"></span>
              <label for="sign-up-gender-male">{{signUpGenderMale}}</label>
            </label>
          </div>
          <div class="sign-up-gender-female">
            <input type="radio" id="sign-up-gender-female">
            <label for="sign-up-gender-female">{{signUpGenderFemale}}</label>
          </div>
          <div class="sign-up-gender-other">
            <input type="radio" id="sign-up-gender-other">
            <label for="sign-up-gender-other">{{signUpGenderOther}}</label>
          </div>
        </div>
      </div>
      <div class="register-sign-up-offers">
        <input type="checkbox" id="remember-me">
        <label for="remember-me" class="remember-me-label">
          <span class="remember-me-checkbox"></span>
          <span class="remember-me-label-text">{{signUpOffers}}</span>
        </label>
      </div>
    </div>
  </div>
  <div class="register-submit">
    <div>
      <a href="">{{signUpButton}}</a>
    </div>
    <div>
      <span>{{signInTitle}}</span>
      <a href="/login">{{signInLink}}</a>
    </div>
  </div>
</div>
