/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  font-family: Circular,Helvetica Neue,Helvetica,Arial,sans-serif;
}

// COLORS
$color-main: #91242D;
$color-main-additional: #B83943;
$color-main-backup: #7D2229;

$color-base-gray: #CACACA;
$color-additional-gray: #5E5E5E;
$color-backup-gray: #5E5E5E;

// FONT SIZE
$font-size-standard: 1em;
$font-size-additional: 0.9em;

$font-size-standard-768px: 0.8em;
$font-size-additional-768px: 0.7em;
